form {
    display: inline-block;
  }
.background{
    position: absolute;
    opacity: 0.3;
    z-index: -99999;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.navbar {
    background: rgba(128, 105, 197, 0.85);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    border: 1px solid rgba(128, 105, 197, 1);
  }
  .navbar-brand {
    margin-right: var(none);
  }
  .Titulo-Pagina{
    margin-top: 50px;
    text-align: center;
  }
  
  .carousel {
    width: auto;
    margin: 70px;
  }
  .Logo {
    background-color: white;
    border-radius: 7%;
   
  }
  
  #navbarTogglerDemo01{
  right: 0;
  position: absolute;
  }
  #Icons{
    font-weight: bolder;
    float: left;
    margin: 5px;
    width: 25px;
  }
  #whatsapp{
  
    position:fixed; 
    margin-bottom: 20px;
    margin-right: 2px;
    right:10px; 
    bottom:10px; 
    width:45px; 
    height:auto; 
    opacity: 0.5;
    transition: opacity 0.2s;
  }
  
  #whatsapp:hover{
  
    opacity: 1;
  }

  .content-form {
    display: flex;
    justify-content: center;
    margin-top: 250px;
  }

  